@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
	box-sizing: border-box;
	font-family: 'Work Sans';
	margin: 0;
	padding: 0;
}
html{
	/* me permite deslizar cuando hago clic en los links del menu*/
	scroll-behavior: smooth;
}
/*menu*/
.contenedor-header{
	background: #1e2326;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}
.contenedor-header header{
	max-width: 1100px;
	margin: auto;
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 15px 20px;
}
.contenedor-header header .logo a{
    
    font-family: 'righteous';
	font-size: 36px;
	color: #f02d0b;
	text-decoration: none;
}
.contenedor-header header ul{
	display: flex;
    justify-content: center;
	list-style: none;
}
.contenedor-header header nav ul li a{
	text-align: none;
	color: red;
	margin: 0 15px;
	padding: 3px;
	transition: .5s;
	text-decoration: none;

}
.contenedor-header header nav ul li a:hover{
	color: #f30909;
	text-shadow: 0 0 5px #b90202, 0 0 25px #b90202, 0 0 50px #b90202,0 0 100px #b90202
}
.nav-responsive{
	background-color: #b90202;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	display: none;
}
/*seccion de incio*/
.inicio{
	background: linear-gradient(to top, rgba(30,35,38,.5), rgba(30,35,38,1)),
	url(imagen2.jpeg);
	background-size: cover;
	height: 100vh;
	color: #fff;
	display: flex;
	align-items: center;
}
.inicio .contenido-banner{
	padding: 20px;
	background-color: #1e2326;
	max-width: 350px;
	margin: auto;
	margin-top: 100px;
	text-align: center;
	border-radius: 40px;
	transition: all .3s;
}

.inicio .contenido-banner:hover{
	box-shadow: 0px 0px 30px 1px rgba(255, 0, 0, 0.747)
}


.inicio .contenido-banner img{
	margin-top: 40px;
	border: 3px solid #b90202;
	display: block;
	width: 80%;
	margin: auto;
	border-radius: 100%;
}
.inicio .contenido-banner h1{
	margin-top: 40px;
	font-size: 30px;
	font-family: 'righteous';
    color: red;
}
.inicio .contenido-banner h2{
	font-size: 20px;
	font-weight: normal;
    color: red;
}
.inicio .contenido-banner .redes a{
	color: #fff;
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 100%;
	width: 42px;
	height: 42px;
	line-height: 42px;
	margin: 40px 6px;
	font-size: 20px;
	transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
	background-color: #b90202;
	box-shadow: 0px 0px 30px 1px rgba(255, 0, 0, 0.719)
}
.sobremi{
	background-color: #1e2326;
	color: #fff;
	padding: 50px 50px;
}
.sobremi .contenido-seccion{
	max-width: 1100px;
	margin: auto;
}
.sobremi h2{
	font-size: 48px;
	font-family: 'righteous';
	text-align: center;
	padding: 20px 0px;
    color: red;
}
.sobremi .contenido-seccion p{
	font: 18px;
	line-height: 22px;
	margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
	color: red;
	font-weight: bold;
}

.sobremi .fila{
	display: flex;
}
.sobremi .fila .col{
	width: 120%;
}
.sobremi .fila .col h3{
	font-size: 28px;
	font-family: 'righteous';
	margin-bottom: 25px;
}
.sobremi .fila .col ul{
	list-style: none;
}
.sobremi .fila .col ul li{
	margin: 12px 0;
}
.sobremi .fila .col ul li strong{
	display: inline-block;
	color: red;
	width: 130px;
}
.sobremi .fila .col ul li span{
	background-color: red;
	padding: 3px;
	font-weight: bold;
	border-radius: 5px;
}
.sobremi .fila .col .contenedordeintereses{
	display: flex;
	flex-wrap: wrap;
}
.sobremi .fila .col .contenedordeintereses .interes{
	width: 100px;
	height: 100px;
	background-color: #252a2e;
	border-radius: 10px;
	margin: 0 15px 15px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: .3s;
}
.sobremi .fila .col .contenedordeintereses .interes:hover{
	background-color: red;
	box-shadow: 0px 0px 30px 1px rgba(255, 0, 0, 0.719)
}
.sobremi .fila .col .contenedordeintereses .interes i{
	font-size: 30px;
	margin-bottom: 10px;
}


.sobremi button{
	cursor: pointer;
	background-color: transparent;
	border: 2px solid #fff;
	width: fit-content;
	display: block;
	margin: 20px auto;
	padding: 10px 22px;
	font-size: 16px;
	color: #fff;
	position: relative;
	z-index: 10;
}
.sobremi button .overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #1cb698;
	z-index: -1;
	transition: 1s;
}
.sobremi button:hover .overlay{
	width: 100%;
	box-shadow: 0px 0px 30px 1px rgba(255, 0, 0, 0.637)}



    /*---------- seccion responsive---------*/
@media screen and (max-width:980px){
	nav{
		display: none;
	}
	.nav-responsive{           
		display: block;
	}
	nav.responsive{
		display: block;
		position: absolute;
		right: 0;
		top: 75px;
		background-color: #252a2e;
		width: 180px;
	}
	nav.responsive ul{
		display: block !important;
	}
	nav.responsive ul li{
		border-bottom: 1px solid #fff;
		padding: 10px 0;
	}
}
@media screen and (max-width:700px){
	.sobremi .fila{
		display: block;
	}
	.sobremi .fila .col{
		width: fit-content;
	}